h1{
    font-size: 150px;
    padding:3px;
    

}.text-alline{
    margin-left: 450px;
}
#headline{
    color: orange;
}
.b-color{
    background-color: rgb(252, 242, 230);
    height: 540px;
}
.image-winter{
    height:370px;
    width:390px;
    background-color: gainsboro;
}
.btn-cl{
    background-color: greenyellow;
    font-size: 100px;
}
.price{
    padding: 4px;
    margin-left: 4px;
    font-size: 24px;
    color: rgb(238, 169, 40);
    font-weight: 700;
}
#discount{
    background-color: rgb(207, 11, 11);
    color: whitesmoke;
    height: 80px; width: 100%;
     padding: 15px;
    font-size: 30px; font-weight: 700;
    text-align: center;
} 