h1{
    font-size: 150px;
    padding:3px;
    

}.text-alline{
    margin-left: 450px;
}
#headline{
    color: orange;
}
.b-color{
    background-color: rgb(252, 242, 230);
    height: 540px;
}
.image-winter{
    height:380px;
    width:400px;
    background-color: rgb(230, 229, 229);
}
.btn-cl{
    background-color: greenyellow;
    font-size: 100px;
}
.price{
    padding: 5px;
    font-size: 28px;
    color: rgb(238, 169, 40);
    font-weight: 700;
}
#discount{
    background-color: palegreen;
    color: red;
    height: 100px;
    width: 400px; padding: 15px;
    font-size: 30px; font-weight: 700;
} 